target/
project
project/target/
.bsp/
.idea/
.bloop
.metals
metals.sbt
logs
/project/project/project
target
tmp
dist
/*.iml
*.DS_Store
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.target
/bin
.idea
.bloop